.master-detail-container {
    display: flex;
    flex-flow: row wrap;
    overflow-y: hidden;
}

#master-container {
    height: 100vh;
    overflow: auto;
    width: 36%;
    border-right: 1px solid white;
}

#detail-container {
    height: 100vh;
    flex: 1 0 auto;
}

.message-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    p {
        font-size: 2rem;
        color: white;
    }
}

@media screen and (max-width: 980px) {
    #master-container {
        width: 100%;
    }

    #master-container,
    #detail-container {
        height: 90vh;

        @supports (-webkit-appearance: none) {
            .os-android & {
              height: calc(90vh - 56px);
            }
          }
    }

}